.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #e6f1f7;    
    padding: 28px;
    height: 300px;
    max-width: 300px;
}

.card-box span {
    font-size: 10px;
    margin: 3px 0;
}

.card-box h4 {
    text-align: left;
    font-size: 20px;
}

.card-box p {
    margin: 15px 0;
}

.card-box:hover {
    background-color: #feb633;
    border: 1px solid #8f8f8f;
}