.rodape-container {
  padding-top: 50px;
  color: #808fa3;
  text-align: center;
}

.foot-logo {
  margin-top: 50px;
}

.rodape-container p {
  font-size: 14px;
  max-width: 440px;
  margin: 30px auto;
}

.social {
  height: 35px;
  margin: 5px;
}

.copy-autor {
    color: #feb633 
}