.tema-claro {
  background-color: #fff;
  color: #808fa3;
}

.tema-escuro {
  background-color: #252525;
  color: #9f9f9f;    
}

footer {
  padding: 10px 0;
}

.rodape-container {
  padding-top: 50px;
  text-align: center;
}

.foot-logo {
  margin-top: 50px;
}

.rodape-container p {
  font-size: 14px;
  max-width: 440px;
  margin: 30px auto 0 auto;
}

.social {
  height: 35px;
  margin: 5px;
}

.redes-sociais-grid {
  margin-top: 30px;
}

.copy-autor {
    color: #feb633 
}