.tema-claro {
    background-color: #fff;
    color: black;
}

.tema-escuro {
    background-color: #252525;
    color: #ccc;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.btn-img {
    height: 15px;    
}

#tema-btn {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: solid 1px #8a8fa3;
}