.tema-claro {
    background-color: #f6f8fc;
    color: #32333c;
}

.tema-escuro {
    background-color: #252525;
    color: #ccc; 
}

.experiencia{
    padding: 50px 0;
}

.experiencia h3 {
    margin: 50px;
    font-size: 40px;
    text-align: center;    
    position: relative;
}

.experiencia h3::before {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -12px;
    width: 100px;
    height: 5px;
    background-color: #feb633;
}

.experiencia p,
.experiencia span {
    color: #8a8fa3;
    font-size: 14px;
}

.exp-texto {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;

}

.grid-experiencia {    
    display: flex;
    justify-content: center;
    margin: 50px 20px;

}

@media screen and (max-width:768px) {
    .grid-experiencia {
        flex-direction: column;
    }
}

@media screen and (max-width:375px) {
    .exp-texto{ 
        max-width: 375px;
        padding: 0 10px;
        font-size: 10px;
    }

    .experiencia h3::before {    
        left: 35%;
    }
}